backgroundColor = #eee
logoPartWidth = 43px
smallLogoPartWidth = 15px


mainFont()
    font-family Arial
    color #555


vendor(prop, args)
    -webkit-{prop} args
    -moz-{prop} args
    {prop} args

display-box()
    display box
    display -webkit-box

box-flex()
    vendor('box-flex', arguments)

box-orient()
    vendor('box-orient', arguments)

box-sizing()
    vendor('box-sizing', arguments)

transition()
    vendor('transition', arguments)

column-count()
    vendor('column-count', arguments)

column-gap()
    vendor('column-gap', arguments)

body
    background-color backgroundColor
    margin 0
    padding 0
    mainFont()

.other-info
    float left
    font-size 1.5em
    font-family 'Raleway', sans-serif
    font-weight 100
    width 25%
    padding 5%

    .logo
        //width 4*logoPartWidth
        float left
        box-sizing border-box
        width 100%
        .logo-1, .logo-4
            box-sizing border-box
            float left
            height 3*logoPartWidth
            border-left logoPartWidth solid #666666
        .logo-2, .logo-3
            box-sizing border-box
            float left
            height 3*logoPartWidth
            //width 3*logoPartWidth
            width 45%
            border logoPartWidth solid #999
        .logo-3
            border-color #777
        .logo-4
            border-color #aaa

    .logo-top
        float left
        margin-bottom 20%

        .logo-text
            clear left
            box-sizing border-box
            padding-top 5%
            font-size .9em
            float left
    .talk
        border-top dotted 1px darken(backgroundColor, 20%)
        font-size 1.4em
        padding-top 20%
        padding-bottom 20%
        float left

        .interesting
            font-weight 400

    .about
        border-top dotted 1px darken(backgroundColor, 20%)
        float left
        clear left

        h1
            font-size 1em
            clear left

        .about-title
            float left
            font-weight 700
            margin 20px 0

        .about-text
            clear left
            float left
            font-weight 200
            font-size .8em
            //margin-bottom 5%

    .social
        float left
        margin-bottom 5%
        a
            transition all ease-out .3s
            border-radius 20px
            text-shadow 0px 0px 8px #666
            box-sizing border-box
            margin-right 5px
            font-size .8em
            line-height 42px
            text-align center
            //text-shadow 1px 1px 1px #fff
            height 40px
            width 40px
            text-decoration none
            display block
            float left
            background-color #888
            color #eee

            &:hover
                background-color #f1008e
                color #fff

.main-list
    float right
    width 55%
    padding 5% 5% 5% 5%
    //display-box()
    //box-orient horizontal
    font-size 1.5em
    //column-count 2
    //column-gap .5em
    article
        box-sizing border-box
        overflow hidden
        margin-bottom 10%
        float left
        width 100%
        position relative
        //height 500px
        background-color darken(backgroundColor, 4%)

        img
            width 641px
            //height 400px
            //position absolute

        &:nth-child(2n + 1)
            clear left

        .intro
            background-color lighten(backgroundColor, 4%)
            line-height 1.3em
            font-size .9em
            color #777
            padding 20px 30px 20px 30px
            font-family 'Raleway', sans-serif
            font-weight 100
            margin-top -20px
            margin-left -20px
            position relative
            transition all .3s ease-in-out
            z-index 99
            float left
            clear left

        h2
            z-index 100
            font-family 'Raleway', sans-serif
            font-weight 100
            margin-bottom 0
            margin-left -20px
            position relative
            background-color lighten(backgroundColor, 7%)
            padding 20px 30px 10px 30px
            transition all .4s ease-in-out
            margin-top 300px
            float left
            clear left


        .tags
            box-sizing border-box
            z-index 1
            font-family 'Raleway', sans-serif
            font-size .7em
            padding 10px 60px 10px 10px
            //padding-top 0
            //padding-bottom 0
            //height 0
            //overflow hidden
            font-weight 100
            float left
            transition all .2s ease-out
            position absolute
            bottom 0
            left 0
            color backgroundColor
            background-color #777

            .tag
                display block


        &:hover
            h2
                left 25%
            .intro
                left 20%
            .tags
                //padding 10px 10px 10px 30px
                height auto

@media only screen and (max-width: 580px) 
    .main-list
        float left
        width 90%
        margin-top 70px

    .other-info
        width 90%
        .logo-top
            position fixed
            z-index 1000
            background-color backgroundColor
            width 90%
            padding 5%
            left 0px
            top 0px

            .logo
                width 30%
                .logo-1, .logo-4
                    height 3*smallLogoPartWidth
                    border-left-width smallLogoPartWidth
                .logo-2, .logo-3
                    height 3*smallLogoPartWidth
                    width 3*smallLogoPartWidth
                    border-width smallLogoPartWidth
            .logo-text
                width 65%
                font-size 18px
                padding-top 2px
                padding-left 3%
                clear none
                        




